body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  /* display: flex; */
}

* {
  box-sizing: border-box;
}
h2.about-h {
    text-align: center;
}
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(10, 10, 40);
  background-color: rgba(10, 10, 40, 0.967);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
.portfo-img {
  position: absolute;
}
.portfo-img {
  position: absolute;
  float: right;
  right: 40px;
  top: 132px;
}
span.logal {
  color: #fff;
  font-size: 26px;
  cursor: pointer;
  z-index: 0;
  height: 55px;
  width: 106px;
  /* left: 30px; */
  padding: 10px;
  box-shadow: 9px 2px mediumslateblue;
  position: absolute;
  border-radius: 48px 81px;
  top: 15px;
  font-family: serif;
  font-weight: 800;
  background: linear-gradient(to right, #8a10, #111);
  /* background: black; */
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: 0.6s; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: 0.6s;
  left:15px;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
  0% {
    left: 5px;
    top: 15px;
  }
  25% {
    left: 200px;
    top: 15px;
  }
  100% {
    left: 5px;
    top: 15px;
  }
}

/* Standard syntax */
@keyframes example {
  0% {
    left: 5px;
    top: 15px;
  }
  25% {
    left: 200px;
    top: 15px;
  }
  100% {
    left: 5px;
    top: 15px;
  }
}
h2.hire-ngash {
  margin: auto;
  /* z-index: 0; */
  color: aliceblue;
  width: 156px;
  margin-top: 240px;
  border-radius: 24px;
  padding: 14px;
  margin-left: 30%;
  height: 60px;
  border: 2px solid;
  /* margin-bottom: 32px; */
  box-shadow: 4px 0 8px #1ac22c;
  animation-name: breathe;
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1.2);
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
@-webkit-keyframes breathe {
  0% {
    height: 60px;
    width: 156px;
  }
  25% {
    height: 66px;
    width: 160px;
  }
  100% {
    height: 60px;
    width: 156px;
  }
}
h2.hire-ngash:hover {
  transform: none;
  background: #c74120;
  color: #fff;
  border: none;
}
span.humbugery {
  color: #fff;
}
span.humbuger {
  color: #111;
}
span.humbuger,
span.humbugery {
  font-size: 28px;
  cursor: pointer;
  z-index: 0;
  height: 52px;
  right: 30px;
  padding: 5px;
  position: absolute;
  border-radius: 43px 79px;
  top: 15px;
  font-family: serif;
  font-weight: 800;
  /* background: linear-gradient(to right, #ff8a00, #da1b60); */
  /* background: black; */
}
/* introduction text */
h1.introduce {
  margin-left: 20%;
  font-family: "Alegreya Sans", sans-serif;
  
  /* padding: 20px 10px; */
  /* height: 28px; */
  font-size: 24px;
  width: 388px;
  line-height: 1.5;
  margin-top: -10%;
  color: #fff;
}
h1.introduce::before {
  content: "";
  background: #fff;
  height: 345px;
  width: 8px;
  border-radius: 14px;
  /* margin-right: auto; */
  margin-left: auto;
  display: block;
  transform: translateY(282px);
}
.get-me a {
  text-align: center;
  padding: 10px;
  text-decoration: none;
  border-radius: 14px;
  font-size: 18px;
}
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
/*  skills animate*/

/* Safari 4.0 - 8.0 */
.div1.de {
  -webkit-animation-timing-function: linear;
}
.div2.de {
  -webkit-animation-timing-function: ease;
}
.div3.de {
  -webkit-animation-timing-function: ease-in;
}
.div4.de {
  -webkit-animation-timing-function: ease-out;
}
.div5.de {
  -webkit-animation-timing-function: ease-in-out;
}

/* Standard syntax */
.div1.de {
  animation-timing-function: linear;
}
.div2.de {
  animation-timing-function: ease;
}
.div3.de {
  animation-timing-function: ease-in;
}
.div4.de {
  animation-timing-function: ease-out;
}
.div5.de {
  animation-timing-function: ease-in-out;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymove {
  from {
    left: 0;
    background-color: #d96f0c;
  }
  to {
    top: 40%;
  }
}

/* Standard syntax */
@keyframes mymove {
  from {
    left: 0px;
    background-color: #d96f0c;
  }
  to {
    top: 40%;
    background-color: #5f0b70;
  }
}
.de {
  display: flex;
  width: 100px;
  margin: auto;
  border-radius: 12px;
  height: 40px;
  /* text-align: center; */
  justify-content: center;
  font-size: 18px;
  margin-bottom: 2px;
  background-color: blueviolet;
  font-weight: bold;
  position: relative;
  -webkit-animation: mymove 3s infinite;
  animation: mymove 3s infinite;
  opacity: 0.8;
}
/* #div1 {
  height: 50px;
  width: 60px;
  background: #561cca;
} */
/* Position text in the middle of the page/image */
section.home-wrapper {
  display: flex;
  text-align: center;
  height: 100%;
  height: -webkit-fill-available;
}
.home-content {
  background-color: rgba(0, 0, 0, 0.611); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.632); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #1b191917;
  position: absolute;
  top: 38%;
  left: 52%;
  height: 184px;
  /* transform: translate(0%, 10%); */
  z-index: 0;
  width: 40%;
  border-radius: 150px 19px;
  padding: 16px;
}

.get-me {
  height: 100px;
  width: 250px;
  background: #57be03;
  z-index: 1;
  margin: auto;
  margin-right: 55%;
  margin-top: -22%;
  text-align: center;
  padding: 20px;
  float: right;
}
.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-twitter {
  background: #55acee;
  color: white;
}

.fa-google {
  background: beige;
  color: rgb(230, 7, 7);
  text-decoration: none;
}
.fa-whatsapp {
  background: green;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
.overlaya {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-attachment: fixed;
  overflow: hidden;
  background-color: rgba(10, 10, 40, 0.75);
  animation-name: overa;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}
@keyframes overa {
  from {
    background-color: rgba(13, 13, 14, 0.699);
  }
  to {
    background-color: rgba(45, 8, 105, 0.733);
  }
}
section {
  height: 60vh;
  background-image: url("img/computer.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
}
img.ngash-image {
  height: 100px;
  width: 100px;
  border-radius: 50px;
  border-top: none;
  border: 1px double #380830;
  /* position: relative; */
  display: flex;
  margin: auto;
  z-index: 2;
  position: relative;
}
h1.title-w {
  margin: auto;
  text-align: center;
  height: 43px;
  width: 196px;
  color: #fff;
  padding: 10px;
  font-size: 20px;
  border-radius: 24px;
  margin-top: 4px;
  background: linear-gradient(to right, #ff8a00, #da1b60);
}

/* about ngash about-n */
h1.stack {
  background: linear-gradient(to bottom right, rgba(204, 86, 40, 0.897), rgb(95, 231, 16));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.wrapper-about {
  display: flex;
  flex-wrap: row wrap;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  height: 85vh;
  background: linear-gradient(
      to top left,
      rgb(237, 243, 243) 40%,
      rgba(109, 175, 206, 0.87) 60%
    ),
    linear-gradient(
      to bottom left,
      rgb(248, 81, 81) 44%,
      rgba(10, 10, 10, 0.815) 28%
    );
}
.wrapper-about > * {
  padding: 10px;
  flex: 1 100%;
}
.main-about {
  text-align: left;
  color: #111;
}
.about-n h2 {
  text-align: center;
  font-size: 24px;
  margin: 0;
  padding: 20px;
}
.weru-n {
  height: 400px;
  width: 450px;
  border-radius: 10px;
  float: right;
  margin-right: 20px;
}
/* .about-n h3{
    text-align: center;
    text-underline-position: below;
    color: aqua;
  } */
.about-n p {
  height: 400px;
  width: 400px;
  margin-left: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 20px;
  line-height: 1.5;
  color: #fff;
  padding-top: 30px;
  border: 1px solid none;
  box-shadow: 2px 20px 90px -37px rgb(241, 236, 236);
}

/* projects project-n */
.projects-n {
  display: flex;
  flex-wrap: row wrap;
  height: 70vh;
  background-color: #fffcfc;
  /* background: linear-gradient(to right, rgb(176, 204, 204) 43%, rgba(241, 241, 241, 0.966) 60%),
    linear-gradient(to bottom left, rgba(155, 148, 148, 0.877) 54%, rgba(241, 213, 213, 0.815) 63%); */
  text-align: center;
}

p.hire-m {
  height: 36px;
  width: 100px;
  margin: auto;
  border-radius: 24px;
  border: 2px solid rgb(124, 212, 72);
  transition: width 0.7s, height 0.6s;
}
p.hire-m:hover {
  width: 150px;
  height: 40px;
  background: #111;
  color: #fff;
  box-shadow: 2px 0 6px #0099ff;
}
.pro-content {
  font-size: 22px;
  border-radius: 12px;
  height: 60vh;
  margin: auto;
  width: 100vh;
  border: 1px solid #23aa21;
  line-height: 1.5;
  box-shadow: 2px 2px 2px rgb(173, 221, 173);
  font-family: serif;
  background-color: #ffffff;
}

h3.about-h {
  color: rgb(10, 163, 31);
  z-index: 2;
  font-family: monospace;
}
/* project skills */

.skills-s {
  display: flex;
  flex-wrap: wrap;
  height: 70vh;
  /* background-image: linear-gradient(180deg,hsla(0,0%,10%,.65),hsla(0,0%,10%,.45)),url(lapi.jpg); */
  background: linear-gradient( to top right, rgb(67, 116, 216) 50%, rgba(241, 241, 241, 0.46) 50% ), linear-gradient(to left, rgba(0, 200, 0, 1) 5%, rgba(0, 0, 0, 0) 50%);
  text-align: center;
  align-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 42%;
  z-index: -2;
  align-content: center;
  position: relative;
  justify-items: center;
  justify-content: center;
  background-attachment: fixed;
}
.programing {
  justify-items: center;
  font-size: 25px;
}F
.programing ul {
  list-style: none;
  color: #fff;
  text-align: justify;
}
/* .skills-s:after { 
    content: "";
    position: absolute;
    bottom: -80px;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100px;
    background: transparent;
    background-size: 100% 100%;
    /* background-image: url(img/bottom-color.png);
} */

.skills-c {
  text-align: center;
  /* display: flex;
  flex-wrap: wrap; */
  /* padding: 16px; */
  margin: auto;
  justify-content: space-around;
}
/* .skills-s h3{
  color: #FFF;
  font-size: 24px;

  z-index: 0;
  font-family: monospace;
  text-decoration-line: underline;
  /* margin: auto;
  position: absolute; */

/* skills */
.java-s {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  background-color: #ffd000;
  /* padding: 8px; */
  margin-left: 40px;
  /* text-align: center; */
}
.php-s1 {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  background-color: #ff4800;
  /* padding: 8px; */
  margin-left: 40px;
  /* text-align: center; */
}
.skills-item {
  display: flex;
  flex-wrap: wrap;
}
/* .skill h3{
  
  padding: 5px;
} */

.skills-c {
  display: flex;
  flex-wrap: wrap;
}
p.last-p {
  font-family: "Lobster", serif;
  color: #c4431b;
  text-align: center;
}
/* my skills */
.projects {
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: center;
  justify-items: center;
}
.projects img {
  height: 400px;
  width: 260px;
  border-radius: 14px;
  border: 1px solid #111;
  margin: 10px;
  box-shadow: 12px 10px 6px rgb(182, 184, 202);
}
.projects h2 {
  text-align: center;
}
.projects-1 h3.about-h {
  text-align: center;
  font-size: 32px;
  padding-top: 32px;
  z-index: 0;
}
/* servies i offer */
.contacts {
  height: 70vh;
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
}
.web {
  height: fit-content;
  width: 280px;
  padding: 20px;
  border-radius: 12px;
  margin: auto;
  background-color: rgb(237, 238, 238);
  text-align: center;
}
.web2 {
  height: fit-content;
  width: 196px;
  padding: 14px;
  border-radius: 12px;
  margin: auto;
  /* background-color: rgb(237, 238, 238); */
  text-align: center;
}

.overlay1 {
  position: relative;
  width: 167px;
  height: 98px;
  margin-bottom: 12px;
  /* left: unset; */
  /* right: 0; */
  /* bottom: 0; */
  background-color: rgba(0, 0, 0, 0.732);
  /* z-index: 2; */
}
.text1 {
  position: absolute;
  /* top: 10%; */
  /* left: 87%; */
  margin-left: 40px;
  font-size: 20px;
  color: aquamarine;
  z-index: 3;
  transform: inherit;
  -ms-transform: translate(-50%, -50%);
}
.php {
  background-image: url(php.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

/* skillsy */
.project-wrapper {
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
  align-items: stretch;
  margin: 10px;
}
.project-content {
  position: absolute;
  top: 60px;
  height: 90vh;
  width: 54%;
  box-shadow: 0 1px 1px rgba(0, 0, 0 ,0.7);
  font-size: 22px;
  line-height: 1.5;
  font-family: serif;
  background-color: #ffffff;
  text-align: center;
  border-radius: 14px;
}
.skillsy {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 2;
  background: linear-gradient(
      to top right,
      rgb(253, 252, 253) 41%,
      rgba(193, 191, 201, 0.966) 83%
    ),
    linear-gradient(
      to bottom left,
      rgb(233, 232, 232) 56%,
      rgba(58, 49, 150, 0.815) 47%
    );
  background-position: fixed;
  justify-content: space-around;
  text-align: center;
  width: 25%;
}

/* ==========ABOUTME=========
=======================================
          about me               
======================================= */
h3.about-h::before {
  content: "";
  background: #c74120;
  height: 5px;
  width: 150px;
  margin-right: auto;
  margin-left: auto;
  display: block;
  transform: translateY(48px);
}
h3.about-h::after {
  content: "";
  background: #57be03;
  height: 10px;
  width: 45px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 40px;
  display: block;
  transform: translateY(3px);
}
.skills-s ul{
	list-style: none;
}
p.quate {
  /* height: 100px; */
  width: 70%;
  margin: auto;
}
.overlaya-about {
  position: absolute;
  top: 0;
  height: 100%;
  display: block;
  width: 100%;
  background-attachment: fixed;
  overflow: hidden;
  background-color: rgba(2, 2, 14, 0.986);
}
img.btn-cheza {
  height: 100px;
  display: flex;
  margin: auto;
  margin-top: 26%;
  width: 100px;
  /* background: antiquewhite; */
  border-radius: 50%;
  z-index: 4;
}
p.play-me {
  color: aliceblue;
  text-align: center;
  font-family: cursive;
  font-size: 22px;
}

/* ===============================================
======================projects========================
===================================================== */
.projects-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: inherit;
  justify-items: center;
}
h2.about-h::before {
  content: "";
  background: #ec1919;
  height: 5px;
  width: 150px;
  margin-right: auto;
  font-family: "Alegreya Sans", sans-serif;
  margin-left: auto;
  display: block;
  transform: translateY(48px);
}
h2.about-h::after {
  content: "";
  background: #757972;
  height: 10px;
  width: 38px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 40px;
  display: block;
  transform: translateY(12px);
}

/* ===============================================
======================LOADER========================
===================================================== */
h3.skip-show {
  cursor: pointer;
  color: aliceblue;
  position: absolute;
  font-size: 28px;
}
.over-page {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.973);
  overflow: hidden;
}
.loader {
  position: relative;
  display: flex;
}

.loader span {
  width: 50px;
  height: 300px;
  margin: 0 20px;
  background: rgba(40, 41, 41, 0.973);
  animation: animater 1.4s linear 6;
}
.loader span:nth-child(1) {
  animation-delay: 0s;
}
.loader span:nth-child(2) {
  animation-delay: 0.2s;
}
.loader span:nth-child(3) {
  animation-delay: 0.4s;
}
.loader span:nth-child(4) {
  animation-delay: 0.6s;
}
.loader span:nth-child(5) {
  animation-delay: 0.8s;
}
.loader span:nth-child(6) {
  animation-delay: 1s;
}
.loader span:nth-child(7) {
  animation-delay: 1.2s;
}
@keyframes animater {
  0% {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
    opacity: 0;
    transform: translateX(-50px) scale(1);
  }
  50% {
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
    transform: translateX(0) scale(1.2);
    opacity: 1;
  }
  100% {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
    transform: translateX(50px) scale(1);
    opacity: 0;
  }
}
/* ----------------portait *
/* ================================================
              MEDIA QUERIES
              ======================================= */

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
  .portfo-img {
    display: none;
  }
}

/*Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {
  .portfo-img {
    display: none;
  }
  .portfo-img {
    display: none;
  }
  .get-me {
    height: 92px;
    width: 248px;
    background: rgba(0, 0, 0, 0.45);
    /* z-index: 1; */
    /* margin: auto; */
    margin-right: 22%;
    margin-top: 66px;
    /* float: right; */
  }
  @keyframes overa {
    from {
      background-color: rgba(13, 13, 14, 0.699);
    }
    to {
      background-color: rgba(5, 8, 5, 0.43);
    }
  }
  section {
    height: 60vh;
    background-image: url("img/peter4.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
  }
	

header{
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
    top: 0;
	height: 15vh;
}
nav{
    margin: auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

	.project-content{
/*		background: red;*/
		width: 96%;
		height: 84vh;
		top: auto;
	}
	p.quate{
		width: 98%;
		font-size: 20px;
		line-height: 1.3;
		padding: 10px;
	}
	.skills-s{
/*		background: blue;*/
		margin-top: 175%;
		bottom: 0;
	}
	.skills-s ul{
		list-style: none;
	}
}

/* Large devices (tablets, less than 1200px)*/
@media (min-width:991.98px) and (max-width: 1024px) {
h1.introduce {
    margin-left: 20%;
    color: #fff;
    font-family: "Alegreya Sans", sans-serif;
    z-index: 3;
    /* padding: 20px 10px; */
    /* height: 28px; */
    font-size: 28px;
    width: 386px;
    line-height: 1.5;
    margin-top: 20%;
}
	.portfo-img {
    position: absolute;
    float: right;
    right: 98px;
    top: 35%;
    border-radius: 45px;
}
	img.portfo1-img{
		display: none;
	}
	h2.hire-ngash {
    margin: auto;
    /* z-index: 0; */
    color: aliceblue;
    width: 156px;
    margin-top: 36%;
    border-radius: 24px;
    padding: 14px;
    margin-left: 44%;
    height: 60px;
    border: 2px solid;
    /* margin-bottom: 32px; */
    box-shadow: 4px 0 8px #1ac22c;
    animation-name: breathe;
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1.2);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
	.get-me {
    height: 100px;
    width: 250px;
    background: rgba(1,1,1, 0.7);
    z-index: 1;
    margin: auto;
    margin-right: 50%;
    margin-top: 5%;
    text-align: center;
    padding: 20px;
    float: right;
}
	span.humbuger{
		font-size: 30px;
	}
span.humbuger,
  span.humbugery {
    font-size: 26px;
    cursor: pointer;
    z-index: 0;
    height: 52px;
    right: 30px;
    padding: 5px;
    position: absolute;
    border-radius: 43px 79px;
    top: 30px;
    font-family: serif;
    font-weight: 800;
    /* background: linear-gradient(to right, #ff8a00, #da1b60); */
    /* background: black; */
  }
	span.logal {
  color: #fff;
  font-size: 26px;
  cursor: pointer;
  z-index: 0;
  height: 55px;
  width: 106px;
  left: 30px;
  padding: 10px;
  box-shadow: 9px 2px mediumslateblue;
  position: absolute;
  border-radius: 48px 81px;
  top: 30px;
  font-family: serif;
  font-weight: 800;
  background: linear-gradient(to right, #8a10, #111);
  /* background: black; */
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: 0.6s; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: 0.6s;
}
	
section {
    height: 60vh;
    background-image: url("img/peter4.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
  }
  section.home-wrapper {
    display: flex;
    text-align: center;
    height: 100%;
    height: -webkit-fill-available;
  }
}

/* Large devices (desktops, less than 1200px)*/
@media (min-width: 1024px) {
	img.portfo-img{
		display: none;
	}
	img.portfo1-img{
		display: flex;
		float: right;
		flex-wrap: wrap;
		margin-right: 82px;
		margin-top: -19%;
		border-radius: 48px;
	}
}

/* Medium devices (tablets, less than 992px)*/
@media only screen and (min-width: 767.9px) and (max-width: 991.98px) {
  section {
    height: 60vh;
    background-image: url("img/peter4.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
  }
	img.portfo1-img{
		display: none;
	}
  section.home-wrapper {
    display: flex;
    text-align: center;
    height: 100%;
    height: -webkit-fill-available;
  }
	.portfo-img {
    position: absolute;
    float: right;
    right: 68px;
    top: 28%;
    border-radius: 45px;
}
  h1.introduce {
    color: #fff;
	  margin-top: 24%;
	  margin-left: 10%;
    padding: 20px 0px;
    font-size: 24px;
     width: 330px; 
  }
  h1.introduce::before {
    content: "";
    background: #fff;
    height: 245px;
    width: 8px;
    border-radius: 14px;
    /* margin-right: auto; */
    margin-left: auto;
    display: block;
    transform: translateY(162px);
  }
	.get-me{
		background: rgba(1,1,1,0.7);
		margin-top: 5%;
	}
  .home-content {
    margin: auto;
    left: 30%;
    top: 60%;
    display: flex;
  }
	h2.hire-ngash {
    margin: auto;
    /* z-index: 0; */
    color: aliceblue;
    width: 156px;
    margin-top: 40%;
    border-radius: 24px;
    padding: 14px;
    margin-left: 42%;
    height: 60px;
    border: 2px solid;
    /* margin-bottom: 32px; */
    box-shadow: 4px 0 8px #1ac22c;
    animation-name: breathe;
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1.2);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

	
  .over-page {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgba(7, 4, 146, 0.973);
  }
  .loader {
    position: relative;
    display: flex;
  }
  .loader span {
    width: 20px;
    height: 200px;
    margin: 0 16px;
    background: rgba(48, 212, 204, 0.973);
    animation: animater 1.4s linear infinite;
  }
  @keyframes animater {
    0% {
      box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
      opacity: 0;
      transform: translateX(-50px) scale(1);
    }
    50% {
      box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
      transform: translateX(0) scale(1.2);
      opacity: 1;
    }
    100% {
      box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
      transform: translateX(50px) scale(1);
      opacity: 0;
    }
  }

  .project-wrapper {
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
    align-items: stretch;
    margin: 10px;
  }

  /* about me */
  img.btn-cheza {
    height: 100px;
    display: flex;
    margin: auto;
    margin-top: 62%;
    width: 100px;
    /* background: antiquewhite; */
    border-radius: 50%;
    z-index: 4;
  }
  p.play-me {
    color: aliceblue;
    text-align: center;
    font-family: cursive;
    font-size: 22px;
    margin: 28px;
  }
  /*  skills animate*/

  h2.hire-ngash {
    margin: auto;
    z-index: 0;
    color: aliceblue;
    width: 156px;
    margin-top: 192px;
    /* margin-left: 196px; */
    border-radius: 28px;
    height: 60px;
    padding: 14px;
    border: 2px solid;
    margin-bottom: 20px;
  }
  h2.hire-ngash:hover {
    transform: none;
    background: #c74120;
    color: #fff;
    border: none;
  }
  span.humbugery {
    color: #fff;
  }
  span.humbuger {
    color: #111;
  }
  span.humbuger,
  span.humbugery {
    font-size: 28px;
    cursor: pointer;
    z-index: 0;
    height: 52px;
    right: 30px;
    padding: 5px;
    position: absolute;
    border-radius: 43px 79px;
    top: 60px;
    font-family: serif;
    font-weight: 800;
    /* background: linear-gradient(to right, #ff8a00, #da1b60); */
    /* background: black; */
  }

  /* Safari 4.0 - 8.0 */
  .div1.de {
    -webkit-animation-timing-function: linear;
  }
  .div2.de {
    -webkit-animation-timing-function: ease;
  }
  .div3.de {
    -webkit-animation-timing-function: ease-in;
  }
  .div4.de {
    -webkit-animation-timing-function: ease-out;
  }
  .div5.de {
    -webkit-animation-timing-function: ease-in-out;
  }

  /* Standard syntax */
  .div1.de {
    animation-timing-function: linear;
  }
  .div2.de {
    animation-timing-function: ease;
  }
  .div3.de {
    animation-timing-function: ease-in;
  }
  .div4.de {
    animation-timing-function: ease-out;
  }
  .div5.de {
    animation-timing-function: ease-in-out;
  }

  /* Safari 4.0 - 8.0 */
  @-webkit-keyframes mymove {
    from {
      left: 0;
      color: #57be03;
    }
    to {
      top: 40%;
      opacity: 0;
      background-color: rgb(184, 17, 235);
    }
  }

  /* Standard syntax */
  @keyframes mymove {
    from {
      left: 0;
      background-color: rgb(235, 104, 17);
      color: #fff;
    }
    to {
      top: 40%;
      opacity: 0;
      background-color: rgb(184, 17, 235);
    }
  }
  .overlaya {
    background-attachment: fixed;
    overflow: hidden;
  }
  .de {
    display: flex;
    width: 100px;
    margin: auto;
    height: 40px;
    border-radius: 12px;
    /* text-align: center; */
    justify-content: center;
    margin-bottom: 2px;
    background-color: blueviolet;
    font-weight: bold;
    position: relative;
    -webkit-animation: mymove 3s infinite;
    -webkit-animation-delay: 3s;
    animation: mymove 5s infinite;
    animation-delay: 3s;
  }
  .project-wrapper {
    display: flex;
    flex-wrap: wrap;
    height: 80vh;
  }
  .skillsy {
    width: initial;
    margin-top: 10px;
  }
  h3.about-h {
    padding-top: 30px;
	  font-size: 2em;
  }
  p.quate {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
  }

  .projects-1 {
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
  }
	
p.quate {
    font-size: 2rem;
	border: none;
    width: 90%;
    padding: 5px;
    line-height: 1.5;
}
	span.logal{
		top:60px;
		left: 68px;
	}
.project-content{
    background: #fff;
	border-top: none;
    min-width: 92%;
    height: 80vh;
	top:28%;
  }
	
h3.about-h::before {
    content: "";
    background: #c74120;
    height: 5px;
    width: 215px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    transform: translateY(64px);
}
h3.about-h::after {
    content: "";
    background: #57be03;
    height: 10px;
    width: 45px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 40px;
    display: block;
    transform: translateY(-10px);
}	
	.skills-s ul{
		list-style: none;
	}
}

@media screen and (max-width: 959px) {
	h2.hire-ngash {
		margin-top: 198px;
	}
  .home-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

	img.portfo1-img{
		display: none;
	}
  .home-content {
    display: none;
  }
  h1.title-w {
    margin: auto;
    text-align: center;
    height: 40px;
    font-size: 22px;
    padding: 6px;
    width: 290px;
    color: #fff;
    border-radius: 24px;
    margin-top: 4px;
    background: linear-gradient(to right, #ff8a00, #da1b60);
  }

  .projects-n {
    display: flex;
    flex-wrap: row wrap;
    height: 75vh;
    text-align: center;
  }
  .pro-content {
    font-size: 18px;
    margin-right: 10px;
    height: 90%;
    margin-left: 10px;
  }
  .skill {
    display: inline-block;
    margin: auto;
  }
}
@media only screen and (max-width: 767px) and (min-width: 320px) {
  section.home-wrapper {
    display: flex;
    text-align: center;
    height: 100%;
    height: -webkit-fill-available;
  }

  h1.introduce {
    margin-top: 40%;
    color: #fff;
    /* margin: auto; */
    /* z-index: 3; */
    margin-left: auto;
    /* height: 28px; */
    font-size: 24px;
    /* width: 388px; */
    font-weight: 300;
  }
  .get-me {
    height: 92px;
    width: 248px;
    background: rgba(0, 0, 0, 0.45);
    /* z-index: 1; */
    /* margin: auto; */
    margin-left: 22%;
    margin-top: 66px;
    /* float: right; */
  }
  h1.introduce::before {
    content: "";
    background: #fff;
    height: 45px;
    width: 8px;
    border-radius: 14px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    transform: translateY(155px);
  }
}
